<link rel="stylesheet" href="css/geral.css">
<!-- TODO: Tela de loading -->
<div ng-show="dataClienteCriarTrabalho.loading != 0">loading</div>
<div ng-hide="dataClienteCriarTrabalho.loading != 0">

    <form name="criarTrabalhoForm" novalidate class="simple-form">

        <div class="form-group">
            <div class="alert alert-danger" ng-show="dataClienteCriarTrabalho.erro.mensagem">
                <span>{{dataClienteCriarTrabalho.erro.mensagem}}</span>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="nomeInput" class="col-md-12 control-label">Nome Trabalho:</label>
                </div>
                <div class="col-md-5" ng-class="{'has-error': dataClienteCriarTrabalho.erro.nome.requerido || dataClienteCriarTrabalho.erro.nome.tamanho || dataClienteCriarTrabalho.erro.nome.difere}">
                    <input type="text" id="nomeInput" name="nomeInput" class="form-control" placeholder="Nome" required autofocus minlength="5" ng-model="dataClienteCriarTrabalho.data.nome">
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.nome.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.nome.tamanho">Nome Precisa ter no minimo 5 Caracteres</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="descricaoInput" class="col-md-12 control-label">Descrição Trabalho:</label>
                </div>
                <div class="col-md-5" ng-class="{'has-error': dataClienteCriarTrabalho.erro.descricao.requerido || dataClienteCriarTrabalho.erro.descricao.tamanho || dataClienteCriarTrabalho.erro.descricao.difere}">
                    <input type="text" id="descricaoInput" name="descricaoInput" class="form-control" placeholder="Descrição" required autofocus minlength="5" ng-model="dataClienteCriarTrabalho.data.descricao">
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.descricao.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.descricao.tamanho">Descrição Precisa ter no minimo 5 Caracteres</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="detalhadoInput" class="col-md-12 control-label">Detalhado Trabalho:</label>
                </div>
                <div class="col-md-5" ng-class="{'has-error': dataClienteCriarTrabalho.erro.detalhado.requerido || dataClienteCriarTrabalho.erro.detalhado.tamanho || dataClienteCriarTrabalho.erro.detalhado.difere}">
                    <textarea rows="4" cols="50" id="detalhadoInput" name="detalhadoInput" class="form-control" placeholder="Detalhado" required autofocus minlength="5" ng-model="dataClienteCriarTrabalho.data.detalhado"></textarea>
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.detalhado.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataClienteCriarTrabalho.erro.detalhado.tamanho">Detalhado Precisa ter no minimo 5 Caracteres</span>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': dataClienteCriarTrabalho.erro.plano.requerido}">
                <div class="col-md-2">
                    <label for="planoInput" class="col-md-12 control-label">Planos:</label>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-md-5 col-md-offset-2">
                    <div ng-show="dataClienteCriarTrabalho.loading != 0">Carregando...</div>
                    <div class="row" ng-hide="dataClienteCriarTrabalho.loading != 0">
                        <div ng-repeat="plano in dataClienteCriarTrabalho.todosPlanos" class="col-sm-6 col-md-4">
                            <div class="thumbnail planoSelect" id="planoInputz" ng-class="{'selected-plan' : selectedItem === $index}" ng-click="selected($index)" required ng-model="dataClienteCriarTrabalho.data.plano">
                                <img src="imgs/logo-media.png" alt="plano1" height="100" width="100">
                                <div class="caption">
                                    <center>
                                        <h4>{{plano.nome}}</h4>
                                        <h5>Valor: R${{plano.valor}}</h5>
                                        <h5>{{plano.descricaoCurta}}</h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="btn-signup" type="button" class="btn btn-info" ng-click="criarTrabalhoDados(dataClienteCriarTrabalho.data)">Criar Trabalho</button>
                </div>
            </div>
        </div>
    </form>
</div>