<style type="text/css">
    th,
    td {
        border-bottom: 1px solid #ddd;
    }
    
    tr:hover {
        background-color: #f5f5f5
    }
    
    th {
        background-color: #31B0D5;
        color: white;
    }
</style>
<div ng-show="dataClienteTrabalhoConcluido.loading != 0">loading</div>
<div ng-hide="dataClienteTrabalhoConcluido.loading != 0">
    <div class="alert alert-danger" ng-show="dataClienteTrabalhoConcluido.erro.mensagem">
        <span>{{dataClienteTrabalhoConcluido.erro.mensagem}}</span>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Nome Plano</th>
            </tr>
            <tr ng-repeat-start="trabalho in dataClienteTrabalhoConcluido.dados track by $index" data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle" ng-init="trabalho.isOpen = false" ng-click="trabalho.isOpen = !trabalho.isOpen">
                <td>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#demo{{$index}}"> <span class="glyphicon glyphicon-plus"></span></a>
                </td>
                <td>{{trabalho.trabalhoNome}}</td>
                <td>{{trabalho.descricao}}</td>
                <td>{{trabalho.planoNome}}</td>
            </tr>
            <tr ng-repeat-end>
                <td ng-if="trabalho.isOpen" colspan="6" class="hiddenRow">
                    <div class="accordian-body collapse" id="demo{{$index}}">
                        Nome do Trabalho - {{trabalho.trabalhoNome}} </br>
                        Nome do Plano - {{trabalho.planoNome}} </br>
                        Descrição do Trabalho - {{trabalho.descricao}} </br>
                        Nome do Freelancer - {{trabalho.freelancerNome}} </br>
                        E-mail - {{trabalho.email}} </br>
                        Situacao - {{trabalho.situacaoNome}}</br>
                        </br>
                        <p ng-show="trabalho.avaliacaoNome != null">Avaliação - {{trabalho.avaliacaoNome}}</p>
                        <button type="button" ng-show="trabalho.avaliacaoNome == null" class="btn btn-primary" ng-click="avaliarTrabalho(trabalho)">Avaliar Trabalho</button>
                        <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click="mensagem(trabalho)">
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Mensagem
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
