<!-- TODO: Tela de loading -->
<div ng-show="dataFreelancer.loading != 0">loading</div>
<div ng-hide="dataFreelancer.loading != 0">

    <form name="cadastroForm" novalidate class="simple-form">

        <div class="form-group">
            <div class="alert alert-danger" ng-show="dataFreelancer.erro.mensagem">
                <span>{{dataFreelancer.erro.mensagem}}</span>
            </div>
            <div class="form-group row" ng-class="{'has-error': dataFreelancer.erro.nome.requerido || dataFreelancer.erro.nome.tamanho}">
                <div class="col-md-2">
                    <label for="nomeInput" class="control-label col-md-3">Nome:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="nomeInput" name="nomeInput" class="form-control" placeholder="Nome" required autofocus minlength="2" ng-model="dataFreelancer.dados.nomeUsuario">
                    <span class="help-block" ng-show="dataFreelancer.erro.nome.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataFreelancer.erro.nome.tamanho">Nome Precisa ter no minimo 2 Caracteres</span>
                </div>
            </div>


            <div class="form-group row" ng-class="{'has-error': dataFreelancer.erro.email.requerido || dataFreelancer.erro.email.invalido}">
                <div class="col-md-2">
                    <label for="emailInput" class="control-label col-md-3">Email:</label>
                </div>
                <div class="col-md-4">
                    <input type="email" id="emailInput" name="emailInput" class="form-control" placeholder="Email" required ng-model="dataFreelancer.dados.email">
                    <span class="help-block" ng-show="dataFreelancer.erro.email.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataFreelancer.erro.email.invalido">Email Invalido</span>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': dataFreelancer.erro.cpfcnpj.requerido || dataFreelancer.erro.cpfcnpj.invalido}">
                <div class="col-md-2">
                    <label for="cpfcnpjInput" class="control-label col-md-3">CPF:</label>
                </div>
                <!-- TODO: CPF/CNPJ -->
                <div class="col-md-4">
                    <input id="cpfcnpjInput" name="cpfcnpjInput" class="form-control" required ng-cpf ui-mask="999.999.999-99" ng-model="dataFreelancer.dados.cpfcnpj">
                    <span class="help-block" ng-show="dataFreelancer.erro.cpfcnpj.requerido">CPF Requerido</span>
                    <span class="help-block" ng-show="dataFreelancer.erro.cpfcnpj.invalido">CPF Invalido</span>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': dataFreelancer.erro.especialidade.requerido}">
                <div class="col-md-2">
                    <label for="especialidadeInput" class="col-md-3 control-label">Especialidades:</label>
                </div>
                <div class="col-md-4">
                    <select id="especialidadeInput" name="especialidadeInput" class="selectpicker form-control" required multiple ng-model="dataFreelancer.dados.especialidade">
                        <option ng-repeat="especialidade in dataFreelancer.todasEspecialidades" value="{{especialidade.idEspecialidade}}">{{especialidade.nomeEspecialidade}}</option>
                    </select>
                    <span class="help-block" ng-show="dataFreelancer.erro.especialidade.requerido">Especialidade Requerido</span>
                </div>
            </div>

            <div class="row col-md-offset-2 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info btn-lg" ng-click="atualizaFreelancerDados()">Atualizar</button>
                <button id="btn-signup" type="button" class="btn btn-info btn-lg" ng-click="alterarSenha(dataFreelancer.dados)">alterarSenha</button>
            </div>
        </div>
    </form>
</div>
