<!-- TODO: Tela de loading -->
<div ng-show="dataAdmin.loading != 0">loading</div>
<div ng-hide="dataAdmin.loading != 0">

    <form name="cadastroForm" novalidate class="simple-form">

        <div class="form-group">
            <div class="alert alert-danger" ng-show="dataAdmin.erro.mensagem">
                <span>{{dataAdmin.erro.mensagem}}</span>
            </div>
            <div class="form-group row" ng-class="{'has-error': dataAdmin.erro.nome.requerido || dataAdmin.erro.nome.tamanho}">
                <div class="col-md-2">
                    <label for="nomeInput" class="control-label col-md-5">Nome:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="nomeInput" name="nomeInput" class="form-control" placeholder="Nome" required autofocus minlength="2" ng-model="dataAdmin.dados.nomeUsuario">
                    <span class="help-block" ng-show="dataAdmin.erro.nome.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataAdmin.erro.nome.tamanho">Nome Precisa ter no minimo 2 Caracteres</span>
                </div>
            </div>
    
    
            <div class="form-group row" ng-class="{'has-error': dataAdmin.erro.email.requerido || dataAdmin.erro.email.invalido}">
                <div class="col-md-2">
                    <label for="emailInput" class="control-label col-md-5">Email:</label>
                </div>
                <div class="col-md-4">
                    <input type="email" id="emailInput" name="emailInput" class="form-control" placeholder="Email" required ng-model="dataAdmin.dados.email">
                    <span class="help-block" ng-show="dataAdmin.erro.email.requerido">Campo Requerido</span>
                    <span class="help-block" ng-show="dataAdmin.erro.email.invalido">Email Invalido</span>
                </div>
            </div>
    
            <div class="form-group row" ng-class="{'has-error': dataAdmin.erro.cpfcnpj.requerido || dataAdmin.erro.cpfcnpj.invalido}">
                <div class="col-md-2">
                    <label for="cpfcnpjInput" class="control-label col-md-5">CPF:</label>
                </div>
                <!-- TODO: CPF/CNPJ -->
                <div class="col-md-4">
                    <input id="cpfcnpjInput" name="cpfcnpjInput" class="form-control" required ng-cpf ui-mask="999.999.999-99" ng-model="dataAdmin.dados.cpfcnpj">
                    <span class="help-block" ng-show="dataAdmin.erro.cpfcnpj.requerido">CPF Requerido</span>
                    <span class="help-block" ng-show="dataAdmin.erro.cpfcnpj.invalido">CPF Invalido</span>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-offset-2 col-md-9">
                    <button id="btn-signup" type="button" class="btn btn-info btn-lg" ng-click="atualizaAdminDados()">Atualizar</button>
                </div>
            </div>
        </div>
    </form>
</div>

