<!-- TODO: Tela de loading -->
<div ng-show="dataFreelancerIncluir.loading != 0">loading</div>
<div ng-hide="dataFreelancerIncluir.loading != 0">

    <h1>Incluir Freelancer</h1>

    <form name="incluirForm" novalidate class="simple-form">

        <div class="alert alert-danger" ng-show="dataFreelancerIncluir.erro.mensagem">
            <span>{{dataFreelancerIncluir.erro.mensagem}}</span>
        </div>

        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.nome.requerido || dataFreelancerIncluir.erro.nome.tamanho}">
            <label for="nomeInput" class="col-md-3">Nome:</label>
            <div class="col-md-9">
                <input type="text" id="nomeInput" name="nomeInput" class="form-control" placeholder="Nome" required autofocus minlength="2" ng-model="dataFreelancerIncluir.data.nome">
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.nome.requerido">Campo Requerido</span>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.nome.tamanho">Nome Precisa ter no minimo 2 Caracteres</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.email.requerido || dataFreelancerIncluir.erro.email.invalido}">
            <label for="emailInput" class="col-md-3">Email:</label>
            <div class="col-md-9">
                <input type="email" id="emailInput" name="emailInput" class="form-control" placeholder="Email" required ng-model="dataFreelancerIncluir.data.email">
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.email.requerido">Campo Requerido</span>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.email.invalido">Email Invalido</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.cpfcnpj.requerido || dataFreelancerIncluir.erro.cpfcnpj.invalido}">
            <label for="cpfcnpjInput" class="col-md-3">CPF:</label>
            <!-- TODO: CPF/CNPJ -->
            <div class="col-md-9">
                <input id="cpfcnpjInput" name="cpfcnpjInput" class="form-control" required ng-cpf ui-mask="999.999.999-99" ng-model="dataFreelancerIncluir.data.cpfcnpj">
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.cpfcnpj.requerido">CPF Requerido</span>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.cpfcnpj.invalido">CPF Invalido</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.senha.requerido || dataFreelancerIncluir.erro.senha.tamanho || dataFreelancerIncluir.erro.senha.difere}">
            <label for="senhaInput" class="col-md-3">Senha:</label>
            <div class="col-md-9">
                <input type="password" id="senhaInput" name="senhaInput" class="form-control" placeholder="Senha" required minlength="5" ng-model="dataFreelancerIncluir.data.senha">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.senha.requerido || dataFreelancerIncluir.erro.senha.tamanho || dataFreelancerIncluir.erro.senha.difere}">
            <label for="senhaInput2" class="col-md-3">Confirmar Senha:</label>
            <div class="col-md-9">
                <input type="password" id="senhaInput2" class="form-control" placeholder="Confirmar Senha" required ng-model="dataFreelancerIncluir.senha2">
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.senha.requerido">Senhas Requeridas</span>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.senha.tamanho">Senha tem tamanho minimo de 5 caracteres</span>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.senha.difere">Senhas Diferentes</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': dataFreelancerIncluir.erro.especialidade.requerido}">
            <label for="especialidadeInput" class="col-md-3">Especialidades:</label>
            <div class="col-md-9">
                <select id="especialidadeInput" name="especialidadeInput" class="selectpicker form-control" required multiple ng-model="dataFreelancerIncluir.data.especialidade">
                            <option ng-repeat="especialidade in dataFreelancerIncluir.todasEspecialidades" value="{{especialidade.id}}">{{especialidade.nome}}</option>
                        </select>
                <span class="help-block" ng-show="dataFreelancerIncluir.erro.especialidade.requerido">Especialidade Requerida</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info btn-lg" ng-click="incluir(dataFreelancerIncluir.data)">Incluir</button>
            </div>
        </div>

    </form>
</div>
