<style type="text/css">
    th,
    td {
        border-bottom: 1px solid #ddd;
    }
    
    tr:hover {
        background-color: #f5f5f5
    }
    
    th {
        background-color: #31B0D5;
        color: white;
    }
</style>
<div ng-show="dataListarCliente.loading != 0">loading</div>
<div ng-hide="dataListarCliente.loading != 0">
    <div class="alert alert-danger" ng-show="dataListarCliente.erro.mensagem">
        <span>{{dataListarCliente.erro.mensagem}}</span>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            <tr ng-repeat="cliente in dataListarCliente.dados">
                <td>{{cliente.idCliente}}</td>
                <td>{{cliente.nomeUsuario}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.nomeStatus}}</td>
                <td>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="editarCliente(cliente)">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="bloqueiaCliente(cliente)">
                      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Bloquear
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="desbloqueiaCliente(cliente)">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Desbloquear
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>