<style type="text/css">
    th,
    td {
        border-bottom: 1px solid #ddd;
    }
    
    tr:hover {
        background-color: #f5f5f5
    }
    
    th {
        background-color: #31B0D5;
        color: white;
    }
</style>
<div ng-show="dataListarPlano.loading != 0">loading</div>
<div ng-hide="dataListarPlano.loading != 0">
    <div class="alert alert-danger" ng-show="dataListarPlano.erro.mensagem">
        <span>{{dataListarPlano.erro.mensagem}}</span>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            <tr ng-repeat="plano in dataListarPlano.dados">
                <td>{{plano.idPlano}}</td>
                <td>{{plano.nomePlano}}</td>
                <td>{{plano.valor | currency:"R$ "}}</td>
                <td>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="editarPlano(plano)">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
