<style type="text/css">
    th,
    td {
        border-bottom: 1px solid #ddd;
    }
    
    tr:hover {
        background-color: #f5f5f5
    }
    
    th {
        background-color: #31B0D5;
        color: white;
    }
    label {
        color: #8A6D45;
        margin-top:7px;
    }
</style>

<div>
    


    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">A Empresa</h3>
            </div>
            <div class="panel-body">
                A M:N conexões é uma empresa formada para conclusão parcial do curso de Ciência da Computação
                na disciplina Laboratório de Engenharia de Softwares, sob responsabilidade da professora Susiléa Abreu dos Santos Lima.
            	<br/>Com o objetivo de enxergar as necessidade de um ambiente comercial de um fornecedor de serviços WEB e,
            	a partir disso, produzir um programa que forneça, ao cliente, um quadro de profissionais capacitados e
            	com histórico de mercado em serviços freelancers , iniciamos a nossa experiência.
            	<br/>O objetivo da disciplina é desenvolver uma visão prática de todo o processo de construção
            	de um projeto de software de qualidade, desde a concepção até sua homologação. 
            	<br/>Como o prazo era apertado, já que todo o processo deveria ser completado dentro
            	de 4 meses e meio, nos foi proposto utilizar, a metodologia de trabalho SCRUM, 
            	que é um sistema de gestão e planejamento de projetos de software. Nele, o projeto 
            	é divido em ciclos chamados de Sprints. A Sprint, em si, se trata de uma Time Box (ou período de tempo),
            	dentro do qual um conjunto de atividades deve ser desenvolvido pelo grupo e apresentado no início da próxima reunião. 
            	<br/>Para auxiliar o grupo nessa empreitada, utilizamos como diretriz para a documentação e 
            	processos em geral o PMBOK (Guia para o conjunto de conhecimentos de gerenciamento de projetos) 
            	pois, além de não ser uma metodologia, trata-se de uma coletânea de melhores práticas que descreve 
            	o universo de conhecimentos para o gerenciamento de projetos. 
            	<br/>Também utilizamos, como ferramenta de orientação, a MPS.BR (melhoria de processo de software brasileiro)
            	para trazer boas práticas e qualidade ao software, além de garantir experiência no desenvolvimento
            	de software em ambientes que primam pela alta qualidade e seriedade de seus profissionais.
            	<br/>No decorrer do processo, nosso grupo enfrentou as dificuldades já esperadas como o conflito 
            	de tempo (dividido entre o projeto, as demais matérias na faculdade e trabalho para a maioria dos participantes),
            	além de uma baixa no número de integrantes graças a uma desistência ocorrida no final do primeiro bimestre. 
            	<br/>Mas como o objetivo da disciplina é simular um ambiente “real” de trabalho, prazos e contratos
            	não se alteram devido a alterações inesperadas no quadro de funcionários de uma empresa. 
            	Dessa forma, tivemos que lidar com a situação, reorganizar nossa divisão de trabalho e, infelizmente,
            	refazer boa parte do que já havia sido feito.
            	<br/>Superadas as dificuldades, nosso grupo desenvolveu um espírito de união e força que não imaginávamos ser possível.
            	Reestruturamos nosso projeto, alcançamos uma maturidade profissional, entre nós, muito boa
            	e sentimos orgulho das tecnologias que tivemos que aprender, das horas não dormidas e da qualidade
            	do projeto que alcançamos com tudo isso.
            	<br/>Por essa razão, convidamos a todos que conheçam nosso sistema e aproveitem as facilidades que ele oferece. 
            	Sejam vocês empresários interessados em encontrar profissionais capacitados para o desenvolvimento
            	de seus projetos online, ou profissionais freelancers dispostos a assumir novos desafios e fazerem 
            	brilhar seus nomes no mercado. 
            </div>  
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Os Membros</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="profile-img" src="imgs/Arthur.jpg" alt="" height="140" width="100" style="margin-bottom:5px">
                    <label class="media-heading">Arthur Costa</label>
                </div>
                <div class="col-md-3">
                    <img class="profile-img" src="imgs/Fabrício.jpg" alt="" height="140" width="140" style="margin-bottom:5px">
                    <label class="media-heading">Fabrício Barbosa</label>
                </div>
                <div class="col-md-3">
                    <img class="profile-img" src="imgs/Capucho.jpg" alt="" height="140" width="140" style="margin-bottom:5px">
                    <label class="media-heading">Hugo Capucho</label>
                </div>
                <div class="col-md-3">
                    <img class="profile-img" src="imgs/Paulo.jpg" alt="" height="140" width="120" style="margin-bottom:5px">
                    <label class="media-heading">Paulo Dantas</label>
                </div>
                
            </div>
        </div> 
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Reuniões (Andamento do Projeto)</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <img class="profile-img" src="imgs/Reunioes/1.jpg" alt="" height="140" width="180" style="margin-bottom:5px">
                </div>
                <div class="col-md-4">
                    <img class="profile-img" src="imgs/Reunioes/2.jpg" alt="" height="140" width="180" style="margin-bottom:5px">
                </div>
                <div class="col-md-4">
                    <img class="profile-img" src="imgs/Reunioes/3.jpg" alt="" height="140" width="180" style="margin-bottom:5px">
                </div>
                <center>
                    <div class="col-md-6">
                        <img class="profile-img" src="imgs/Reunioes/4.jpg" alt="" height="140" width="200" style="margin-bottom:5px">
                    </div>
                    
                    <div class="col-md-6">
                        <img class="profile-img" src="imgs/Reunioes/5.jpg" alt="" height="140" width="200" style="margin-bottom:5px">
                    </div>
                </center>
                
            </div>
        </div>
       
    </div>



</div>
